<% include ../partials/header.ejs %>

<h1>Log In</h1>

<form method="POST">
	<input name="username" type="text" placeholder="Username" autofocus/>
	<input name="password" type="password" placeholder="Password" />
	<a href="/">
		<button type="submit" class="btn">Submit</button>
	</a>
</form>

<% include ../partials/footer.ejs %>