<% include ../partials/header.ejs %>

<div class="container">

	<h1>Log In</h1>
	<a href="/auth/register">
		<button id="regButton" class="btn">New User? Register here</button> 
	</a>

	<form method="POST">
		<input name="username" type="text" placeholder="Username" autofocus/>
		<input name="password" type="password" placeholder="Password" />
		<a href="/">
			<button type="submit" class="btn">Submit</button>
		</a>
	</form>

</div>

<% include ../partials/footer.ejs %>