<% include ../partials/header.ejs %>

<h1>Register</h1>

<form method="POST">
	<input name="username" type="text" placeholder="Choose a username" autofocus />
	<input name="email" type="email" placeholder="Email address" />
	<input name="password" type="password" placeholder="Choose a password" />
	<input name="confirmPassword" type="password" placeholder="Confirm password" />
	<a href="/">
		<button class="btn" type="submit">Create Account</button>
	</a>
</form>

<% include ../partials/footer.ejs %>