<% include ../partials/header.ejs %>

<h1>Wishlists</h1>

<a href="/wishlist/new">
	<button class="btn">New Wishlist</button>
</a>
<div class="container">
    <table class="centered highlight">
        <thead>
        	<tr>
                <td>List Name</td>
                <td>Categories</td>
                <td>Items</td>
            </tr>
        </thead>
        <tbody>
    <!-- <ul id="accordian" class="collapsible col s8 push-s2" data-collapsible="accordion"> -->
    	<% lists.forEach(function(list) { %>

              <tr>
                <td>
                	<a href="/wishlist/<%= list.id %>"><%= list.name %></a>
                </td>
                <td>
                	<%= list.categories.length %>
                </td>
                <td>
                	<%= list.attractions.length %>
                </td>
              </tr>
              
        <% }); %>
    	</tbody>
    </table>
    <!-- </ul> -->
</div>
<% include ../partials/footer.ejs %>