<% include ../partials/header.ejs %>

<h1>New Wishlist</h1>

<form action="/wishlist" method="POST">
	<input name="name" type="text" placeholder="Wishlist Name" autofocus />
	<input name="category" type="text" placeholder="Category" />
	<input name="item" type="text" placeholder="item" />
	<button type="submit">Submit</button>
</form>

<% include ../partials/footer.ejs %>