</div>

<footer class="page-footer">
	<div class="footer-copyright">
    	<div class="container">
    		© 2016 Evan Wilkinson
    		<a class="grey-text text-lighten-4 right" href="https://github.com/evwilkin">GitHub</a>
    	</div>
  	</div>
</footer>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/sweetalert.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>