<!DOCTYPE html>
<html>
<head>
	<title>TravelTo</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

 <nav>
    <div class="nav-wrapper">
      	<a href="/" class="brand-logo">Logo</a>
      	<ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/wishlist">Wishlists</a></li>
	        <li><a href="/journal">Journal</a></li>
	        <li><a href="/inspiration">Inspiration</a></li>
	        <li><a href="/auth/login">Log In</a></li>
    	</ul>
    </div>
 </nav>