<% include ../partials/header.ejs %>

<h1>Journal</h1>
<a href="/journal/new">
	<button class="btn">New Journal</button>
</a>

<% journals.forEach(function(journal) { %>

<div class="journalTitle">
	<h3><%= journal.dataValues.title %></h3>
</div>
<div class="journalPlace">
	<h5><%= journal.dataValues.place %></h5>
</div>
<div class="journalText">
	<p><%= journal.dataValues.text %></p>
</div>

<% }); %>

<% include ../partials/footer.ejs %>


