<% include ../partials/header.ejs %>

<div class="container">

<h1>New Journal Entry</h1>

<form method="POST" action="/journal">
	<input id="journalTitle" name="title" placeholder="Title" autofocus />
	<div class=".input-field">
		<textarea id="textarea1" name="text" class="materialize-textarea" placeholder="Journal Entry"></textarea>
	</div>
	<button class="btn" type="submit">Log Journal Entry</button>
</form>

</div>

<% include ../partials/footer.ejs %>