<% include partials/header.ejs %>

<div class="container">
	<div class="row">
		<div id="homePhoto" class="col s8 push-s2">
			<div id="homeColor">
				<h1>My app</h1>
			</div>
		</div>
	</div>
</div>

<% include partials/footer.ejs %>