body {
	background-color: black;
	color: white;
}

nav {
	background-color: #196ec2;
}

nav div ul li a {
	font-size: 1.3em;
}

i.inverse {
	color: black;
	padding-left: 1%;
	font-size: 2.7rem;
	height: 56px;
}

#body {
	background-color: black;
	text-align: center;
}

h1 {
	text-align: center;
}

div.text  {
	border: solid white 4px;
	background-color: rgba(0,0,0,0.75);
	margin: 10% auto;
}

div.text h1 {
	margin: 10% auto;
}

div.home {
	background-image: url("/images/forest.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

ul.tabs {
	font-size: 1.3em;
}

.background {
	background-color: rgba(0,0,0,0.8);
}

.background div p {
	font-size: 1.2em;
}

.background div h4 {
	font-size: 1.6em;
}

.homeLink {
	width: 100%;
}

div.material-placeholder {
	display: inline;
}

img.materialboxed {
	width: 45%;
	height: 15%;
	display: inline;
}

footer.page-footer {
	background-color: black;
}

div.collapsible-header {
	background-color: teal;
	border: none;
	margin-bottom: 1%;
}

#journals {
	text-align: left;
}

div.card {
	width: 100%;
}

p.journalText {
	font-size: 1.5em;
	text-align: justify;
}

#newJournal {
	position: relative;
}

#flickr {
	position: relative;
	bottom: 0;
}

#accordian {
	border: none;
}

#accordian li {
	background-color: teal;
}

h3 {
	display: inline;
}

td {
	width: 33%;
	text-align: center;
}

@media (min-width: 800px) {
	
	div.text h1 {
		font-size: 8em;
	}

	ul.tabs {
		font-size: 1.8em;
	}

	.background div p {
		font-size: 1.8em;
	}

	.background div h4 {
		font-size: 2.2em;
	}

	.homeLink {
		width: 50%;
	}

	img.materialboxed {
	width: 19%;
	height: 9%;
	overflow: hidden;
	display: inline;
	}

	div.card {
		width: 100%;
	}

	#newJournal {
		display: block;
	}

	#title {
		font-size: 3em;
	}

	#journals {
		width: 46%;
		display: inline-block;
		margin: 0 1%;
	}

	p.truncate {
		font-size: 1.3em;
	}
}