<% include ../partials/header.ejs %>

<div class="container">
<h1>Inspiration</h1>

<form method="POST">
	<input name="images" type="text" placeholder="Search a Location" autofocus />
	<button class="btn" type="submit">Search</button>
</form>

</div>

<% include ../partials/footer.ejs %>